/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
.bg-black { background: #000; }
.text-black { color: #87CEFA; }
.view-shadow { box-shadow: 0 0 5px 2px rgba(#CCC, 0.6); }
.form-check-input-danger:checked {
  background-color: #DC3545;
  border-color: #DC3545;
}
.form-focus:focus {
  color: #495057;
  background-color: #FFF;
  border-color: #80BDFF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(#007BFF, 0.8);
}
.text-shadow {
  text-shadow:
    1px 1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000,
    -1px -1px 1px #000
  ;
}
.table-hover-black {
  & td:hover{
    background-color: rgba(#000, 0.6);
    & a {
      color: #FFF;
    }
  }
}
#bg_img {
  background-image: url("/images/2022-02-14[16-51]_-166.7, -54.2, 368.8_0.0, 0.1, 0.0, 1.0_10.00 (0).webp");
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  background-color: rgba(#FFF, 0.3);
  background-blend-mode: lighten;
}
.map_image {
  overflow: auto;
  flex: 1;
  position: absolute;
}
.location_ {
  &view {
    background: #000;
    width: 600px;
    overflow-y: scroll;
    flex: 2;
    position: absolute;
    left: 0;
    z-index: 3;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(#000, 1.0);
    }
    &::-webkit-scrollbar-thumb {
      background: #999;
    }
  }
  &icon {
    position: absolute;
    z-index: 2;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.btn_reset {
  padding: 0;
  border: none;
  background: transparent;
}
