- content_for :title do
  Location Edit - Tarkov MAP

- if @location.errors.any?
  = render partial: "layouts/error", locals: { obj: @location }

%h2.mb-3 Location Edit

= render partial: "form", locals: { obj: @location }
