- content_for :title do
  Create Location - Tarkov MAP

- if @location.errors.any?
  = render partial: "layouts/error", locals: { obj: @location }

%h2.mb-3 Create Location

= render partial: "form", locals: { obj: @location }
